@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-md">
    <h2>Meet our team!</h2>
    <br/>

    <div class="card" style="width: 18rem;">
        <img src="Images/dev1.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sylvie Blossom</h5>
            <p class="card-text">Main developer and CEO :)</p>
            <a href="mailto:sylv.blossom@gmail.com" class="btn btn-primary">Contact Me</a>
        </div>
    </div>
</div>