@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Midterm Project!</h1>
    <p>Project Created by Michael Splaver</p>

    <a class="btn btn-primary" asp-controller="Home" asp-action="UserGuide"></a>
</div>
